*{
    background-color: rgba(255, 248, 238, 1);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

main{
    margin-top:6%;
    z-index: 0;
    overflow-x: hidden;
}

header{
    position: fixed;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(247, 190, 196, 1);
    top:0%;
    z-index: 1;
}

header nav{
    display: flex;
    justify-content: center;
    padding: 1%;
}

header nav a{
    padding-right: 3%;
}

header nav a:nth-child(3){
    padding: 0%;
}

a{
    text-decoration: none;
    color: black;
}

nav a:hover {
    color:rgba(247, 190, 196, 1) ;
}

#mobilheader img {
    padding: 3%;
}

header #mobilheader {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0%;
}

#kryds{
    padding: 3%;
}

#menupunkter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 3%;
}

#menupunkter a {
    padding-top: 2%;
    font-size: 20pt;
}

#menupunkter h2 {
    font-size: 15pt;
    padding-top: 2%;
}

#forside {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 0;
}

#tekstboks {
    position: absolute;
    top: 95%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
    padding-top: 1%;
}

#tekstboks h1{
    font-family: 'Playfair Display';
    color: rgba(121, 176, 234, 1);
    letter-spacing: 3px;
}

.tre_artikler section {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style:dashed;
    border-bottom-color: rgba(247, 190, 196, 1);
    padding-top: 2%;
    padding-bottom: 2%;
}

.tre_artikler section:first-child {
    border-top-width: 1px;
    border-top-style:dashed;
    border-top-color: rgba(247, 190, 196, 1);
    margin-top: 10%;
}

.tre_artikler section div img{
    width: 100%;
}

.tre_artikler section div:first-child {
    margin-left: 5%;
    padding-right: 5%;
}

.tre_artikler section div:last-child {
    width: 70%;
}

.tre_artikler h2{
    font-family: 'Playfair Display';
    color: rgba(121, 176, 234, 1);
    letter-spacing: 3px;
}

#fire_artikler {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    background-color:rgba(121, 176, 234, 1);
    padding: 3%;
    margin-bottom: 1%;
}

#fire_artikler h2{
    color:rgba(121, 176, 234, 1) ;
    text-align: center;
    font-family: 'Playfair';
}

.underside_startindhold {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: auto;
}

.underside_tekstindhold{
    text-align: center;
}

.underside_tekstindhold h1{
    color: rgba(121, 176, 234, 1);
    padding: 1%;
    font-family: 'Playfair Display';
    letter-spacing: 3px;
}

.underside_artikler {
    display: flex;
    justify-content: center;
}

.underside_artikler section{
    padding: 4%;
}

.underside_artikler section h2{
    color: rgba(121, 176, 234, 1);
    padding: 1%;
    font-family: 'Playfair Display';
    letter-spacing: 3px;
}

.underside_artikler img{
    width: 100%;
}

.kontaktinfo{
    display: flex;
    justify-content: center;
    background-color:rgba(247, 190, 196, 1);
    margin-bottom: 1%;
}

.kontaktinfo section{
    padding: 3%;
    background-color:rgba(247, 190, 196, 1)
}

.kontaktinfo section:first-child{
    padding-right: 10%;
}

.kontaktinfo ul{
    list-style: none;
}

.kontaktinfo ul li{
    background-color:rgba(247, 190, 196, 1);
}

.kontaktinfo section ul li:nth-child(8){
    padding-top: 10%;
}

.kontaktinfo h4{
    background-color:rgba(247, 190, 196, 1);
    font-size: 15pt;
    font-family: 'Playfair Display';
    letter-spacing: 3px;
}

footer {
    border-top-color: rgba(247, 190, 196, 1);
    border-top-width: 2px;
    border-top-style: solid;
}

footer p{
    line-height: 22px;
}

footer div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

footer div section{
    height: 50%;
    width: 30%;
    padding: 2%;
}

footer h4 {
    margin-bottom: 2%;
    font-family: 'Playfair Display';
    letter-spacing: 3px;
}

#skrivmail {
    width: 60%;
    padding: 3%;
    background-color:white;
    border: none;
    font-size: 10pt;
    text-align: left;
    margin-top: 6%;
}

#tilmeld {
    width: 30%;
    padding: 3%;
    background-color: rgba(247, 190, 196, 1);
    margin-top:6%;
    font-size: 10pt;
    margin-bottom: 5%;
}

/*Mobil*/
@media screen and (max-width:820px){
    header nav{
        display: none;
    }

    #forside section:first-child{
        display:none
    }

    #forside section{
        width: 100%;
    }

    #forside section:last-child{
        width: 100%;
    }

    .tre_artikler section img{
        width: 50%;
    }

    .tre_artikler section div{
        width: 50%;
    }

    .tre_artikler h2{
        font-size: 12pt;
    }

    .tre_artikler p{
        font-size: 10pt;
    }

    #fire_artikler {
        display: flex;
        flex-wrap: wrap;
    }

    #fire_artikler section{
        width: 40%;
    }

    #fire_artikler img{
        width: 100%;
    }

    #fire_artikler :nth-child(3), :last-child{
        margin-top: 3%;
    }

    #fire_artikler h2{
        font-size: 12pt;
    }

    .underside_artikler{
        flex-direction: column;
    }

    .underside_startindhold img{
        width: 100%;
    }

    .kontaktinfo {
        flex-direction: column;
    }

    .kontaktinfo section iframe{
        display: flex;
        width: 90%;
        margin: auto;
    }

    footer div{
        display: flex;
        flex-direction: column;
    }

    footer div section{
        width: 90%;
    }

    footer p{
        width: 90%;
    }

}

/*Laptop*/
@media screen and (min-width:820px){
    #mobilheader {
        display: none;
    }

    .underside_artikler section{
        max-width: 27%;
        padding: 4%;
    }
}
